

.sales{
    margin: 1%;
    margin-top: 2%;
    /* border: 1px solid black; */
    padding:2%;
    border-radius: 10px;
}

.sub-content img {
    height: 50px;
    width : 50px;
    margin: 1%;
}

.sub-content h4{
    margin: 2%;
    padding: 1%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.sub-content p{
    font-weight: 600 !important;
}

.sales-div{
    display: flex;
}

.sub-content {
    width: 20%;
    margin: 1%;
    padding: 1%;
}
.sub-content:hover {
    transform: scale(1.1); /* Increase size on hover */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}